html {
  height: 100%;
  width: 100%;
}
<<<<<<< HEAD
body {
=======
body, header, footer{
>>>>>>> f5597e7b05f08526f71cdff648cf0eecf760938f
background-image: url(images/plaster.jpg);
background-repeat: no-repeat;
background-attachment: fixed;
background-size: 100%;
<<<<<<< HEAD

=======
>>>>>>> f5597e7b05f08526f71cdff648cf0eecf760938f
}
header h1{
  margin: 0;
  font-size:55px;
  padding: 60px 0 20px 20px;
}

h2{
  font-size: 33px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

header, h1, h2, h3, p, ul, ol { 
  color: navy;
  font-family: "comic sans ms";
  text-align: center;
}
h3{
  font-size: 30px;
}

ul, ol{
  list-style-position: inside;
}
<<<<<<< HEAD
a:link {
  font-size: 30px;
}
a:visited 
  {color:#ab8788;
  }
=======
a:link{
  font-size: 30px;
{
a:visited{
  color:#ab8788;
  }
>>>>>>> f5597e7b05f08526f71cdff648cf0eecf760938f
